@font-face {
  font-family: "Eras Bold ITC";
  src: url("https://db.onlinewebfonts.com/t/401b3afcdd14cf76b92956ecc7f7d8e6.eot");
  src: url("https://db.onlinewebfonts.com/t/401b3afcdd14cf76b92956ecc7f7d8e6.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/401b3afcdd14cf76b92956ecc7f7d8e6.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/401b3afcdd14cf76b92956ecc7f7d8e6.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/401b3afcdd14cf76b92956ecc7f7d8e6.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/401b3afcdd14cf76b92956ecc7f7d8e6.svg#Eras Bold ITC")format("svg");
}

@font-face {
  font-family: "Eras Demi ITC";
  src: url("https://db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.eot");
  src: url("https://db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.svg#ITC Eras Demi")format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Eras Demi ITC', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #FFFFFF;
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #1A1A1A;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eras Bold ITC', sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e2d7d7;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #FFFFFF;
}

a {
  font-weight: 500;
  color: #FFD438;
  text-decoration: inherit;
}
a:hover {
  color: #E63946;
}